<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="dromara.org" />
	<meta name="description" content="dromara.org" />
	<!-- 网页标签标题 -->
	<title>dromara(Open source organization)</title>
	<link rel="shortcut icon" href="<%= rootPath %>/img/docsite.ico"/>
	<link rel="stylesheet" href="<%= rootPath %>/build/<%= page %>.css" />
</head>
<body>
	<div id="root"><%- __html %></div>
	<script src="https://f.alicdn.com/react/15.4.1/react-with-addons.min.js"></script>
	<script src="https://f.alicdn.com/react/15.4.1/react-dom.min.js"></script>
	<script>
		window.rootPath = '<%= rootPath %>';
  </script>
	<script src="<%= rootPath %>/build/<%= page %>.js"></script>
</body>
</html>